@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    overflow-x: hidden;
    color: white;
}

.black{
    height: 100vh;
    width: 100vw;
    background-color: rgb(12,12,12);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.three-dot {
  font-size: 30px;
    position: relative;
    top: 3%;
    left: 45%;
    cursor: pointer;
}
.container {
  width: 30vh;
  visibility: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: orange;
  padding: 10px;
}
.cut {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}