@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    color: white;
    overflow-x: hidden;
}
button{
    color: black;
}
nav{
    display: flex;
}

body{
    background-color: #050404;
    color: white;
    
}
.output {
  margin-top: 20px;
}
.quote-section{
    max-width: 300px;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}

