@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;

    overflow-x: hidden;
}

body{
    background-color: #db6868;
}
.container {
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.calc{
    
    border-radius: 20px;
    box-shadow: -1px -1px 10px 10px rgba(139, 78, 72, 0.8);
    padding: 20px;

}
#input{
    height: 100px;
}
button{
    border: none;
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    box-shadow: 6px 6px 10px rgba(190, 97, 97, 1 ), -6px -6px 10px rgba(190, 97, 97, 1 );
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dgn{
    box-shadow: inset 6px 6px 10px rgba(190, 97, 97, 1 ), inset -6px -6px 10px rgba(190, 97, 97, 1 );
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}