

.input_div{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    user-select: none;
    margin-bottom: 1rem;

}
input{
    height: 2rem;
    width: 200px;
    background-color: azure;
    border: none;
    border-radius: 7px;
    color: white;
    padding-left: 1rem ;
    color: black;
    
} 
button{
    padding: 0 1rem;
    background-color: aqua;
    color: black;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    margin-left: 0.5rem;
    cursor: pointer;


}
.input_div>button:hover{
    background-color: rgb(73, 201, 201);
}

.allTodos_div{
    display: flex;
    flex-direction: column;
   
} 
.allTodos_div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
