
#nav_btn{
    width: 30%;
}
#nav_btn ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#quotes_div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
#quotes_div>div{
    border: 1px solid rgb(41, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    /* height: 400px; */
    border-radius: 1rem;
    padding:  20px;
    cursor: pointer;
}
#quotes_div>div p{
    color: aqua;
}
#quotes_div>div h3{
    color: rgb(234, 234, 234);
}
